/* body{
    background-color: black;
} */
                                        /* Header */
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #181200;
    padding-bottom: 13px;
    
}

header img{
    height: 70px;
    width: 120px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: -9px;
    
}
header ul{
    display: flex;
    margin-left: 65%;
}

header li{
    list-style: none;
    
    margin-right: 4%;
    font-size: 20px;
    margin-top: -50px;
    
}

header li a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header li a:hover{
    color: #DECD87;
}


                                                       /* body */

.background{
    
    background-image: url('data/img/back-1.png');
    background-size: cover;
    padding: 500px;
}

                                                       /* part1 */

.part1{
    background-color: #181200;
    padding: 100px;
}

.part1 h1{
    color: white;
    margin-bottom: 20px;
}

.part1 h3{
    color: wheat;
    margin-bottom: 20px;
}

.part1 a{
    text-decoration: none;
    color: white;
}

.part1 a:link {
    background-color: white;
    color: black;
    border: 3px solid #C8AB37;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .part1 a:visited{
    background-color: white;
    color: black;
    border: 2px solid #DECD87;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .part1 a:hover, a:active {
    background-color: #DECD87;
    color: white;
  }

/* .part1 button{
  background-color: #C8AB37; 
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
} */



/* @media only screen and (max-width: 600px) */